{{> header}}
<style>
    table, tr, th, td{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
    }
</style>
<div>
    <h1>All Data</h1>
    <a href="/home">Home</a>

    <form method="post" action="search">
        <input type="date" name="dateFrom" required>
        <input type="date" name="dateTo" required>
        <input type="submit" value="Search">
    </form>

    <table>
        <tr>
            <th>Description</th>
            <th>Cost</th>
            <th>Type</th>
            <th>Date</th>
        </tr>
        {{#entriesList}}
        <tr>
            <td>{{desc}}</td>
            <td>{{cost}}</td>
            <td>{{type}}</td>
            <td>{{date}}</td>
        </tr>
        {{/entriesList}}
    </table>
</div>
{{> footer}}