{{> header}}
<style>
    input[type=text], input[type=number], input[type=date], select {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 50%;
        background-color: #22C68A;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: cornflowerblue;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
    }
</style>
<div>
    <h1>Add new Entry</h1>
    <a href="/home">Home</a>

    <form method="post" action="createNewEntry">
        <input type="date" placeholder="Date" name="date" required>
        <input type="text" placeholder="Description" name="desc" required>
        <input type="number" placeholder="Cost" name="cost" required>
        <select name="type">
            <option value="1">Incomes</option>
            <option value="2">Expenses</option>
        </select>
        <input type="submit" value="Add">
    </form>
</div>
{{> footer}}