{{> header}}
<div>
    <h1>Edit {{entryType}}</h1>
    <a href="/home">Home</a>

    <form method="post" action="updateEntry">
        <input type="hidden" name="id" value={{id}} required>
        <input type="date" name="date" value={{entryDate}} required>
        <input type="text" name="desc" value={{description}} required>
        <input type="number" name="cost" value={{cost}} required>
        <input type="submit" value="Save">
    </form>

</div>
{{> footer}}