{{> header}}
<div>
    <h1>Expenses</h1>
    <a href="/home">Home</a>

    <form method="post" action="searchExpenses">
        <input type="date" name="searchDate" value={{currentDate}} required>
        <input type="submit" value="Search">
    </form>

    <h5>Result on {{currentDate}}</h5>

    <table>
        <tr>
            <th>Description</th>
            <th>Cost</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        {{#entriesList}}
        <tr>
            <td>{{description}}</td>
            <td>{{cost}}</td>
            <td>{{entryDate}}</td>
            <td><a href="/edit/{{id}}">Edit</a></td>
            <td><a href="/deleteExpenses/{{id}}">Delete</a></td>
        </tr>
        {{/entriesList}}
    </table>
</div>
{{> footer}}