{{> header}}
<div>
    <h1>Home page</h1>

    <a href="/create">Add Entry</a>
    <a href="/incomes">Incomes</a>
    <a href="/expenses">Expenses</a>
    <a href="/all">All Data</a>
</div>
{{> footer}}